body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: Arial, sans-serif;
}
.wrapper{
	background-color: lightblue;
	max-width: 1200px;
	margin: 0 auto;
}
/*headerstyles*/
header{
	margin: 0 auto;
	height: 100px;
	background-color: navy;
	h1{
		margin: 0;
		padding: 1em;
		color: white;
	}
}
/*navstyles*/
nav{
	background-color: orange;
	ul{
		margin: 0;
		padding: 0;
		overflow: auto;
		list-style-type: none;
		li{
			float: left;
			padding: 1em;
			a{
				text-decoration: none;
				color: purple;
				opacity: .8;
			}
			a:hover{
				opacity: 1;
			}
		}
	}
}
/*mainstyles*/
main{
	padding: .3em;
}
/*footerstyles*/
footer{
	width: 100%;
	text-align: right;
}


/*Grid Styles*/
.row{
	width: 100%;
	border-bottom: 2px dotted red;
}