//Variables

$color1: lightblue;
$color2: grey;

//Mixins

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}

@mixin sectionplace($float) {
	float: $float;
	margin-bottom: .5em;
}
@mixin bigtext {
	font-size: 1.2em;
}
@mixin mainheight {
	height: 25em;
}
//Styles

/* Border box declaration */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color: $color1;
	font-family: Arial, sans-serif;
}

h1, h2, h3 {
	margin-top: 0;
}

.wrapper{
	width: 75em;
	margin: 0 auto;}
/*headerstyles*/
header{
	//margin .625em auto;
	margin: 0 auto;
	height: 300px;
	background: url(../img/imghead.jpg) no-repeat right;
	h1{
		font-size: 3em;
		padding: 230px 1em 1em .5em;
		//padding: 1em;
		color: white;
		text-shadow: 0 0 20px black;
	}
}
/*navstyles*/
nav{
	background-color: orange;
	ul{
		//margin: .625em 0;
		margin: 0 0 .625em 0;
		padding: 0;
		overflow: auto;
		list-style-type: none;
		li{
			float: left;
			padding: 1em;
			a{
				text-decoration: none;
				color: purple;
				opacity: .8;
			}
			a:hover{
				opacity: 1;
			}
		}
	}
}
/*mainstyles*/
.main-content{
	@include sectionplace(right);
	@include mainheight;
	background-color: #fff;
	padding: 1em;
	width: 49.4em;
	img {
		float: left;
		padding: 0 .5em;
		margin-right: 1em;
	}
	ul, p{
		@include bigtext;
	}
}

aside {
	@include sectionplace(left);
	width: 24.4em;
	.aside1, .aside2 {
		margin-bottom: .5em;
		padding: 1em;
		background-color: #fff;
		@include mainheight;
	}
}

.bottom {
	@include sectionplace(left);
	background-color: #fff;
	width: 75em;
	height: 25em;
	padding: 1em;
	img {
		float: right;
		padding: 0 .5em;
	}
	ul, p{
		@include bigtext;
	}

}

main::after {
	@include clearfix;
}

/*footerstyles*/
footer{
	width: 100%;
	text-align: right;
}