//Variables

$color1: lightblue;
$color2: grey;
$color3: orange;

//Mixins

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}

@mixin sectionplace($float) {
	float: $float;
	margin-bottom: .5em;
}

@mixin bigtext {
	ul, p {
		font-size: 1.2em;
	}
}

@mixin headerplace($bgsize) {
	background-size: $bgsize;
	background-position: 30px 0;
}


@mixin column($width) {
	width: $width;
	float: left;
	background-color: #fff;
	padding: 1em;
	margin-bottom: .625em;
	margin-top: .625em;
}


//Styles

/* Border box declaration */
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color: $color1;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
}


header{
	//margin .625em auto;
	margin: 0 auto;
	background: url(../img/header1-1250px.png) no-repeat top center;
	@include headerplace(100%);
	h1{
		color: white;
		text-shadow: 0 0 10px black;
	}

	@media (min-width:1090px) {
		height: 360px;
		h1 {
			padding: 290px 1em 1em .5em;
			font-size: 3em;
		}
	}
	@media (min-width:960px) and (max-width:1089px) {
		height: 310px;
		h1 {
			padding: 240px 1em 1em .5em;
			font-size: 2.7em;
		}
	}
	@media (min-width:716px) and (max-width:959px) {
		background: url(../img/header1-960px.png) no-repeat top center;
		@include headerplace(100%);
		height: 270px;
		h1 {
			padding: 200px 1em 1em .5em;
		}
	}
	@media (max-width:715px) {
		background: url(../img/header1-715px.png) no-repeat bottom left;
		height: 210px;
		margin-bottom: .5em;
	}

	@media (max-width: 525px) {
		h1 {
			text-align: center;
		}
	}
}

h1, h2, h3 {
	margin-top: 0;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		background-color: $color3;
		list-style: none;
		li {
			padding: 1em;
			display: inline-block;
			@media (max-width:830px) {
				display: block;
				padding: 0;
				text-align: center;
				a {
					padding: 1em;
					display: block;
					border: 1px solid;
				}
			}
		}
		a {
			text-decoration: none;
			color: purple;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.row {
	// margin-bottom: .625em;
	&::after {
		@include clearfix;
	}
}

[class*="col-"] {
	margin-right: 1.66667%;
	&:last-child {
		margin-right: 0;
	}
	img {
		margin: 0 1em;
	}
	//Solution to bullet points overlapping floated image, found on StackOverflow.com
	ul {
		list-style: outside disc;
		margin-left: 1em;
		li {
			position: relative;
			left: 1em;
			padding-right: 1em;
		}
	}
}


.col-1 {
	@include column(32.22222%);
}

.col-2 {
	@include column(66.11111%);
	img {
		float: left;
	}
	@include bigtext;
}

.col-3 {
	@include column(100%);
	img {
		float: right;
	}
	@include bigtext;
}


//GALLERY PAGE
.col-3-gallery{
	@include column(100%);
	h2{
		padding: 1em;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		li{
			padding: 0;
			margin: .5em;
		}
	}
}

@media (max-width:830px) {
	[class*=col-] {
		width: 100%;
		margin-right: 0;
	}
}
