//Variables

$color1: lightblue;
$color2: grey;
$color3: orange;

//Mixins

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}

@mixin sectionplace($float) {
	float: $float;
	margin-bottom: .5em;
}

@mixin bigtext {
	ul, p {
		font-size: 1.2em;
	}
}

@mixin headerplace($image, $align, $height) {
	background: url($image) no-repeat $align center;
	background-size: contain;
	height: $height;
}

@mixin h1size($pad, $size) {
	padding: $pad 1em 1em .5em;
	font-size: $size;
}

@mixin column($width) {
	width: $width;
	float: left;
	background-color: #fff;
	padding: 1em;
	margin-bottom: .625em;
	margin-top: .625em;
}


//Styles

/* Border box declaration */
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color: $color1;
	font-family: Arial, sans-serif;
}

.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
}


header{
	margin: 0 auto;
	@include headerplace('../img/header-large.png', top, 360px);
	h1{
		color: white;
		text-shadow: 0 0 10px black;
		@include h1size(290px, 3em);
	}

	@media (min-width:960px) and (max-width:1089px) {
		height: 310px;
		h1 {
			@include h1size(240px, 2.7em);
		}
	}
	@media (min-width:716px) and (max-width:959px) {
		@include headerplace('../img/header-med.png', top, 270px);
		h1 {
			@include h1size(220px, 2.5em);
		}
	}
	@media (max-width:715px) {
		@include headerplace('../img/header-small.png', bottom, 210px);
		margin-bottom: .5em;
		h1 {
			@include h1size(0, 2.2em);
			text-align: center;
		}
	}
}

h1, h2, h3 {
	margin-top: 0;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		background-color: $color3;
		list-style: none;
		li {
			padding: 1em;
			display: inline-block;
			@media (max-width:700px) {
				display: block;
				padding: 0;
				text-align: center;
				a {
					padding: 1em;
					display: block;
					border: 1px solid;
				}
			}
		}
		a {
			text-decoration: none;
			color: purple;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.row {
	// margin-bottom: .625em;
	&::after {
		@include clearfix;
	}
}

[class*="col-"] {
	margin-right: 1.66667%;
	&:last-child {
		margin-right: 0;
	}
	img {
		margin: 0 1em;
	}
	//Solution to bullet points overlapping floated image, found on StackOverflow.com
	ul {
		list-style: outside disc;
		margin-left: 1em;
		li {
			position: relative;
			left: 1em;
			padding-right: 1em;
		}
	}
}


.col-1 {
	@include column(32.22222%);
}

.col-2 {
	@include column(66.11111%);
	img {
		float: left;
	}
	@include bigtext;
}

.col-3 {
	@include column(100%);
	img {
		float: right;
	}
	@include bigtext;
}


//GALLERY PAGE
.col-3-gallery{
	@include column(100%);
	h2{
		padding: 1em;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		li{
			padding: 0;
			margin: .5em;
		}
	}
}

@media (max-width:830px) {
	[class*=col-] {
		width: 100%;
		margin-right: 0;
	}
}
