/* Border box declaration */
html {
  box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

h2 {
  margin-top: 1em;
  font-size: 4em;
}

h3 {
  font-size: 3em;
  padding-left: 1em;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

/*headerstyles*/
header {
  width: 100%;
  background-color: navy;
  margin: 0 auto;
  height: 20em;
}
header h1 {
  margin-top: 0;
  font-size: 5em;
  padding: 1em;
  color: white;
  text-shadow: 0 0 10px black;
}

/*navstyles*/
nav {
  background-color: orange;
}
nav ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style-type: none;
}
nav ul li {
  float: left;
  padding: 2em 1em 2em 1em;
}
nav ul li a {
  font-size: 3.8em;
  text-decoration: none;
  color: purple;
}
nav ul #here {
  border-bottom: .3em solid green;
}

/*mainstyles*/
.main-content {
  background-color: #fff;
  padding: 1em;
  width: 100%;
}
.main-content img {
  width: 100%;
}
.main-content ul, .main-content p {
  font-size: 1.2em;
}
.main-content h3 {
  clear: both;
}

aside {
  width: 100%;
}
aside .aside1, aside .aside2 {
  margin-bottom: .5em;
  padding: 1em;
  background-color: #fff;
}
aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
aside ul li {
  margin: 0;
  padding: 0;
}
aside ul a {
  text-decoration: none;
  color: navy;
  font-size: 1.2em;
}
aside ul a:hover {
  color: blue;
}

.bottom {
  background-color: #fff;
  width: 100%;
  padding: 1em;
}
.bottom img {
  width: 100%;
}
.bottom ul, .bottom p {
  font-size: 1.2em;
}

.gallery {
  margin-top: 0;
  background-color: white;
  padding: 2em 0;
}
.gallery ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.gallery ul li {
  padding: 0;
  display: inline-block;
  margin: .5em;
  width: 40%;
}
.gallery ul li img {
  width: 100%;
}

/*footerstyles*/
footer {
  width: 100%;
  font-size: 2em;
  text-align: right;
}
