/* Border box declaration */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: Arial, sans-serif; }

.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  margin: 0 auto;
  background: url("../img/header-large.png") no-repeat top center;
  background-size: contain;
  height: 360px; }
  header h1 {
    color: white;
    text-shadow: 0 0 10px black;
    padding: 290px 1em 1em 0.5em;
    font-size: 3em; }
  @media (min-width: 960px) and (max-width: 1089px) {
    header {
      height: 310px; }
      header h1 {
        padding: 240px 1em 1em 0.5em;
        font-size: 2.7em; } }
  @media (min-width: 716px) and (max-width: 959px) {
    header {
      background: url("../img/header-med.png") no-repeat top center;
      background-size: contain;
      height: 270px; }
      header h1 {
        padding: 220px 1em 1em 0.5em;
        font-size: 2.5em; } }
  @media (max-width: 715px) {
    header {
      background: url("../img/header-small.png") no-repeat bottom center;
      background-size: contain;
      height: 210px;
      margin-bottom: .5em; }
      header h1 {
        padding: 0 1em 1em 0.5em;
        font-size: 2.2em;
        text-align: center; } }

h1, h2, h3 {
  margin-top: 0; }

nav ul {
  margin: 0;
  padding: 0;
  background-color: orange;
  list-style: none; }
  nav ul li {
    padding: 1em;
    display: inline-block; }
    @media (max-width: 700px) {
      nav ul li {
        display: block;
        padding: 0;
        text-align: center; }
        nav ul li a {
          padding: 1em;
          display: block;
          border: 1px solid; } }
  nav ul a {
    text-decoration: none;
    color: purple;
    opacity: .8; }
    nav ul a:hover {
      opacity: 1; }

.row::after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  margin-right: 1.66667%; }
  [class*="col-"]:last-child {
    margin-right: 0; }
  [class*="col-"] img {
    margin: 0 1em; }
  [class*="col-"] ul {
    list-style: outside disc;
    margin-left: 1em; }
    [class*="col-"] ul li {
      position: relative;
      left: 1em;
      padding-right: 1em; }

.col-1 {
  width: 32.22222%;
  float: left;
  background-color: #fff;
  padding: 1em;
  margin-bottom: .625em;
  margin-top: .625em; }

.col-2 {
  width: 66.11111%;
  float: left;
  background-color: #fff;
  padding: 1em;
  margin-bottom: .625em;
  margin-top: .625em; }
  .col-2 img {
    float: left; }
  .col-2 ul, .col-2 p {
    font-size: 1.2em; }

.col-3 {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 1em;
  margin-bottom: .625em;
  margin-top: .625em; }
  .col-3 img {
    float: right; }
  .col-3 ul, .col-3 p {
    font-size: 1.2em; }

.col-3-gallery {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 1em;
  margin-bottom: .625em;
  margin-top: .625em; }
  .col-3-gallery h2 {
    padding: 1em; }
  .col-3-gallery ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .col-3-gallery ul li {
      padding: 0;
      margin: .5em; }

@media (max-width: 830px) {
  [class*=col-] {
    width: 100%;
    margin-right: 0; } }
